@import "_variables";

/* elements */
body {
	background: $colors-blue;
	font-size: 0.75em; /* 12 */
	line-height: 1.5em; /* 18/12 */
	overflow-x: hidden;
}

body, select, input, textarea {
	color: #072e67;
	font-family: Helvetica, Arial, sans-serif;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { 
	font-family: 'alternate-gothic-no-1-d', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: $colors-gold;
	margin-top: 0;

	span {
		line-height: 1em;
	}
}

h1 .word1, h2 .word1, h3 .word1,
h4 .word1, h5 .word1, h6 .word1 { color: $colors-blue; }

h1 { 
	font-size: 3.0em;
	padding-bottom: .611111111em;
	border-bottom: 1px solid #edeae1;
	margin-bottom: .555555556em;

	body.home & { 
		color: $colors-blue;
		border-bottom: none;
		margin-bottom: 0;
	}
}

h2 { font-size: 2.0em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.0em; }



a, a:active, a:visited {
	color: $colors-gold;
	text-decoration: none;

	&:hover { text-decoration: underline; }
}

