@import "_variables";

/* @group modules */
.module.bordered {
	background: url(../images/module-bottom.png) bottom no-repeat;
	padding-bottom: 19px;
	border: none;

	> div {
		background: url(../images/module-top.png) top no-repeat;
		padding-top: 7px;
	}
	> div > div {
		background: url(../images/module-center.png) top repeat-y;
		padding: 12px 25px;
		position: relative;
	}
	> div > div > div {
		padding: 1px 0;
		margin: 1px 0;
		*zoom: 1;
	}

	h3 {
		font-size: 2.5em; /* 18/12 */
		border-bottom: 1px solid #edeae1;
		margin: 0;
		padding: 0 0 12px;
		text-transform: uppercase;
	}

	img {
		border: 7px solid #edece6;
		margin: 0 20px 10px 0;
		float: left;
	}

	.read-more {
		background-position: left 0;
		position: absolute;
		bottom: -12px;
		right: 25px;
	}
}

.module.underline {
	border-bottom: 1px solid #edeae1;
}


/* @group sidebar */
#sidebar .module {
	margin: 18px 0;
}

/* @group bottom */
#bottom .module {
	width: 302px;
	float: left;
	margin-left: 17px;

	&:first-child { margin-left: 0; }
}
